@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.message-info {
    text-align: right;
    padding-right: 7px;
    font-size: 9pt;
    position: relative;
    margin-top: -13px;
}

.page {
    background: #C5DDEB;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 0;
    color: white;
    height: 100%;
}

.message-content {
    padding: 8px 20px 0 18px;
    font-family: arial, sans-serif;
}

.page.blurred {
    filter: blur(2px);
}

.container {
    margin: 0 auto;
    background: #444753;
    border-radius: 5px;
}

.chat-history {
    background-image: url('../img/background.png');
}

.chat {
    width: 100%;
    float: left;
    background: #eeeeee;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

.chat .chat-header {
    padding: 8px;
}

.chat .chat-header img {
    float: left;
    border-radius: 50%;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat .chat-header .chat-num-messages {
    color: #92959E;
}

.chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}

.chat .chat-history {
    padding: 30px 30px 20px;
    overflow-y: scroll;
    height: calc(100vh - 186px);
}

#chat-history {
    padding: 0;
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.chat .chat-history .message {
    color: #262626;
    line-height: 26px;
    font-size: 15px;
    font-weight: normal;
    border-radius: 7px 7px 7px 7px;
    margin-bottom: 30px;
    position: relative;
    max-width: 800px;
    display: inline-block;
    width: unset;
    min-width: 170px;
    text-align: left;
}

.my-msg-element {
    text-align: right;
}

.other-msg-element {
    text-align: left;
}

.paperclip-attachment {
    font-size: 23px;
    color: gray;
    position: relative;
    top: 3px;
    left: 6px;
    cursor: pointer;
}

.chat .chat-history .my-message::after {
    border: solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: medium;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 12px;
    border-top-width: 12px;
    border-bottom-width: 12px;
    border-left-width: 12px;
    border-top-width: 12px;
    border-bottom-width: 12px;
    border-left-width: 12px;
    margin-left: -10px;
    border-left: 0;
    right: -12px;
    border-top: 12px solid #ffffffb3;
    border-bottom: 0;
    top: 5px;
}

.chat .chat-history .my-message {
    background: #ffffffb3;
    margin-left: auto;
}

.chat .chat-history .other-message {
    background: #ffffffb3;
}

.chat .chat-history .other-message:after {
    bottom: 72%;
    left: 0;
    border: solid transparent;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-color: transparent;
    border-bottom-width: medium;
    border-left-width: medium;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #ffffffb3;
    border-width: 10px;
    margin-left: -10px;
    border-right: 0;
    border-top: 12px solid #ffffffb3;
    border-bottom: 0;
    top: 5px;
}

.chat .chat-message {
    padding: 12px;
    height: 115px;
}

.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    height: 50px;
}

.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat .chat-message button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #eeeeee;
}

.chat .chat-message button:hover {
    color: #75b1e8;
}

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

li {
    list-style-type: none;
}

.media-input-group{
    display:grid;
}

.label-file{
    font-size: 50pt;
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 15px;
}

.custom-btn {
    width: 40%;
    background: #adc6d4;
    height: 40px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 25px;
}

.register-chat{
  cursor: pointer;
  color:#272525;
}

.register-chat:hover{
  font-weight: bold;
}

.chat-dialog {
    display:none;
    height: 33vw;
    width: 85%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    max-width: 500px;
    max-height: 325px;
}

.custom-input:valid {
    background-color: #86bb71;
}

.image-attachment {
    margin: 15px auto 0;
    position: relative;
    display: block;
    max-height: 39%;
}

.msg-image {
    width: 65vw;
    position: relative;
    display: block;
    margin-left: auto;
    max-width: 40vh;
    border-radius: 15px;
    padding: 6px
}

.btn-centered{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.register-dialog {
  display: none;
  height: 36vh;
  width: 85%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  max-width: 500px;
  max-height: 550px;
}

.dialog{
  background-color: #ffffff80;
  border-radius: 37px;
}

.dialog-white{
    background-color: #ffffff;
    border-radius: 6px;
    border-bottom: 27px solid #928fd4; 
}

.attachment-dialog {
    display: none;
    height: 66vh;
    width: 85%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    max-width: 500px;
    max-height: 550px;
}

.dialog-top-border{
    height: 40px;
    width: 100%;
    background-color: #adc6d4;
    pointer-events: none;
}

.dialog-top-border::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f057";
    position: absolute;
    top: 8px;
    right: 11px;
    color: #4b4974;
    font-size: 14pt;
    cursor: pointer;
    pointer-events: all;
}

.dialog-top-border:hover::after {
    color: #1f1e2f;
}

.dialog-bottom-border{
    height: 27px;
    width: 100%;
    background-color: #928fd4;
}

.nickname-input {
    position: relative;
    margin-top: 5px;
    width: 100%;
}

.password-input {
    margin-top: 5px;
    width: 100%;
    position: relative;
}


.nickname-input:focus {
    outline: none;
}

.custom-input {
    border: 0;
    border-bottom: 2px solid gray;
    display: block;
    background: none;
    font-size: 22px;
    padding: 6px;
    margin: 0 auto 19px auto;
}

.image-caption {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom:2%;
    width: 88%;
    border-color: #b9bbbd;
    background-color: transparent !important;
}

.join-chat {
}

button::-moz-focus-inner {
    border: 0;
}

.join-chat:hover {
    background-color: #889aa5;
}

#reg-error {
  position: relative;
  top: 27px;
  color: red;
  font-size: 24px;
}

.nickname-input-group {
    width: 100%;
    position: relative;
    padding: 11%;
}

.custom-input:invalid {
    border-color: red;
    box-shadow: none;
    color: red;
}

.chat-with {
    display: inline;
}

.user-list {
    display: inline;
}